#!/bin/bash

export SIMPLE_IN_OUT_CLIENT_ID=YOUR_CLIENT_ID_HERE
export SIMPLE_IN_OUT_CLIENT_SECRET=YOUR_CLIENT_SECRET_HERE
export SIMPLE_IN_OUT_ACCESS_TOKEN=YOUR_ACCESS_TOKEN_HERE
export SIMPLE_IN_OUT_REFRESH_TOKEN=YOUR_REFRESH_TOKEN_HERE

mocha --harmony test/index.js
