#!/bin/bash

# Visit the following to get an access code:
# https://www.simpleinout.com/oauth/authorize?response_type=code&client_id=XXXXXXXX&redirect_uri=XXXXXXXX

export AWS_ACCESS_KEY_ID=XXXXXXXX
export AWS_SECRET_ACCESS_KEY=XXXXXXXX
export SIMPLE_IN_OUT_CREDENTIALS_S3_BUCKET=XXXXXXXX
export SIMPLE_IN_OUT_CREDENTIALS_S3_KEY=XXXXXXXX

export SIMPLE_IN_OUT_AUTHORIZATION_CODE=XXXXXXXX
export SIMPLE_IN_OUT_CLIENT_ID=XXXXXXXX
export SIMPLE_IN_OUT_CLIENT_SECRET=XXXXXXXX
export SIMPLE_IN_OUT_REDIRECT_URI=XXXXXXXX

mocha --harmony test/index.js

